@import '../../assets/scss/styles.scss';

.header-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  z-index: map-get($layers, fixed-floating);
  position:fixed;

  .header-top {
    height: 50px;
    background-color: $burnt-sienna;

    @media #{$medium-up} {
      height: 70px;
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @include step-scale('padding-left', '8px', $base-unit, $base-unit);
      @include step-scale('padding-right', '8px', $base-unit, $base-unit);
      height: 100%;
    }
  }

  .header-bottom {
    background-color: $cinnabar;
    color: $white;
    height: 50px;

    @media #{$medium-up} {
      height: auto;
    }
  }
}
