// sass-lint:disable hex-length

/* colors */

// reds
$cavern-pink: #e4bdbd;
$well-read: #bd362f;
$bright-red: #ae0000;
$tamarillo: #8e1c16;
$red-berry: #990000;
// yellows
$dandelion: #fedf6f;
$supernova: #ffcc00;
$buddha-gold: #d7ac00;
// greens
$fruit-salad: #5a9f4b;
$malachite: #0ead31;
$apple: #418932;
// blues
$eastern-blue: #14a0be;
// grays
$white: #fff;
$aqua-haze: #f6f8fa;
$gallery: #ebebeb;
$athens-gray: #e1e4e8;
$porcelain: #edf0f2;
$mischka: #dbdee4;
$loblolly: #b9c0ca;
$ghost: #c5cbd3;
$manatee: #939498;
$regent-gray: #8793a3;
$trout: #4d545d;
$tundora: #404040;
$mine-shaft: #333333;
$black: #000;

//orange
$orange: #d87338;
$chocolate: #d65e19;
$burnt-sienna: #f06643;
$cinnabar: #ef461c;
